@model IEnumerable<EventApps.Models.Event>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <h1 class="section-header">
        <div>Events</div>
    </h1>
    <div class="card" style="padding:20px">
        <div>
            <a href="@Url.Action("Create","Events")" class="btn btn-primary" style="float:right">Create Event</a>
        </div>
        <table id="tableList" class="table table-striped">
            <thead>
                <tr>
                    <td>Title Event</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Location</td>
                    <td>Quota</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.Title</td>
                        <td>@items.StartDate</td>
                        <td>@items.EndDate</td>
                        <td>@items.Location</td>
                        <td>@items.Quota</td>
                        <td>
                            <a href="@Url.Action("Edit", "Events", new { ID = items.ID })" class="btn btn-warning">Edit</a>
                            <a href="@Url.Action("Delete", "Events", new { ID = items.ID })" onclick="javascript:return confirm('Are you sure want to delete?')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>



