@model IEnumerable<EventApps.Models.ParticipantType>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <h1 class="section-header">
        <div>Participant Type</div>
    </h1>
    <div class="card" style="padding:20px">
        <div>
            <a href="@Url.Action("Create","ParticipantType")" class="btn btn-primary" style="float:right; margin-bottom:15px">Create Type Participant</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.Name</td>
                        <td>@items.Description</td>
                        <td>
                            <a href="@Url.Action("Edit", "ParticipantType", new { ID = items.ID })" class="btn btn-warning">Edit</a>
                            <a href="@Url.Action("Delete", "ParticipantType", new { ID = items.ID })" onclick="javascript:return confirm('Are you sure want to delete?')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


